@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #d4f5ef 0%, #f3e5f7 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pacifico;
  font-size: 55px;
  padding: 20px;
}
.search-bar {
  width: 40%;
  border: none;
  padding: 10px;
}
.search-btn:hover {
  background: rgb(255, 238, 170);
}
.search-btn {
  background: rgb(162, 235, 219);
  border: none;
  padding: 10px 20px;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
  transition: 0.5s;
}

.button-container:hover {
  transform: scale(1.1);
}

.loadMoreButton {
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
  font-size: medium;
}

html,
body {
  font-family: "Poppins", sans-serif;
}
