@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #aa8b56 0%, #f0ebce 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  transition: 1s;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pacifico;
  font-size: 55px;
  padding: 10px;
  margin-top: 5px;
}
.search-bar {
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 15px 0 0 15px;
  outline: none;
  transition: 0.5s;
}
.search-bar:focus {
  outline: 5px solid #4e6c50;
}
.search-form:hover {
  transform: scale(1.1);
}
.search-btn:hover {
  background: rgb(255, 238, 170);
}
.search-btn {
  background: #4e6c50;
  border: none;
  padding: 10px 20px;
  border-radius: 0 15px 15px 0;
  transition: 0.5s;
}
.form-check {
  position: absolute;
  right: 2vw;
  top: 12.5vh;
}
.container {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
  transition: 0.3s;
}

.button-container:hover {
  transform: scale(1.1);
}
.card {
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.1);
}
.card-body {
  outline: none;
  margin: 0;
  background-color: #4e6c50;
}

.see-recipe-btn {
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  background-color: #395144;
}
.see-recipe-btn:hover {
  transform: scale(1.1);
  background-color: #395144;
}

.loadMoreButton {
  border-radius: 10px;
  background-color: #4e6c50;
  color: white;
  border-color: #4e6c50;
  font-size: medium;
}

html,
body {
  font-family: "Poppins", sans-serif;
}
.logo {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}